body {
    font-family: Arial, sans-serif;
    /* background-image: url("img_you22.jpg"); */
    background-color: #f4f4f4; /* Light Gray background */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

.todo_list {
    max-width: 600px;
    margin: 0 auto 40px;
    background-color: #fff; /* White background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: solid #ccc 5px; /* Light Gray border */
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: #333; /* Dark Gray text */
    font-size: 30px;
}

.create_new_todo {
    text-align: center;
    border-bottom: #ccc solid 1px; /* Light Gray border */
    border-top: #ccc solid 1px; /* Light Gray border */
    border-radius: 8px;
    padding: 8px 0;
}

input[type="text"] {
    width: 94%;
    padding: 10px;
    color: #333; /* Dark Gray text */
    background-color: #f9f9f9; /* Very Light Gray background */
    border: solid #ccc 1px; /* Light Gray border */
    border-radius: 8px;
}

button {
    margin-top: 10px;
    width: 49%;
    padding: 12px;
    cursor: pointer;
    background-color: #007BFF; /* Corporate Blue button */
    color: #fff; /* White text */
    border: none;
    border-radius: 3px;
}

.todos {
    list-style: none;
    padding-left: 0;
}

.todos li {
    margin-bottom: 5px;
    border: 1px solid #ccc; /* Light Gray border */
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9; /* Very Light Gray background */
}

.todos li:not(:last-child) {
    border: 1px solid #ccc; /* Light Gray border */
    padding: 10px;
}

todos label {
    color: #333; /* Dark Gray text */
}

p {
    color: #333; /* Dark Gray text */
}

.todos fieldset {
    align-items: center;
    background-color: #fff; /* White background */
    border: solid #ccc 1px; /* Light Gray border */
    border-radius: 10px;
}

.todos input[type='text'] {
    color: #333; /* Dark Gray text */
    background-color: #f9f9f9; /* Very Light Gray background */
    border: solid #ccc 1px; /* Light Gray border */
    border-radius: 8px;
}

.todos input[type='text']:focus {
    background-color: #f3f1f8; /* Lighter Gray on focus */
}

.btn2 {
    margin-left: 6px;
}

.edit, .remove, .add {
    border: none;
}

.name, .message {
    border-radius: 8px;
    border: none;
    margin: 4px;
    border-bottom: #333 solid 1px; /* Dark Gray bottom border */
    border-top: #333 solid 1px; /* Dark Gray top border */
}
